<h1 style="color:yellow;">PARA O MEU SOL</h1>
          <p > sol apaixonante</p>
            <p >que invandiu meu coração</p>
<p >e fez eu sentir a emoção 
<p >que jurei nunca mais querer 
<p > mas com você eu sei que vale
<p >meu eterno amor</p>
<p style="color:red;">eu amo você.</p> 


<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Where'd All the Time Go? - Dr. Dog</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      background-color: #f5f5f5;
      margin-top: 100px;
    }
    h1 {
      color: #333;
    }
  </style>
</head>
<body>

  <h1>Where'd All the Time Go?</h1>
  <p>Dr. Dog</p>

   <!-- Música tocando automaticamente e em loop -->
  <audio src="autoplay loop dr_dog_where_d_all_the_time_go.mp384307">autoplay loop>
    
  
    
  </audio>

</body>
</html>
    

